[run]
source = 
    scripts/labeled_property_graph.py
omit = 
    scripts/__init__.py
    scripts/gather_keys_oauth2.py
    scripts/fitbit_data.py
    scripts/parser_troubleshooting.py
    scripts/eafp_refactor.py
    scripts/tmobile_bill_parser.py
    scripts/lpg_cli.py
[report]
show_missing = False