beautifulsoup4==4.6.0
bleach==3.1.1
certifi==2017.7.27.1
chardet==3.0.4
cheroot==5.8.3
coverage==4.4.1
cycler==0.10.0
decorator==4.1.2
entrypoints==0.2.3
Faker==0.8.6
fitbit==0.3.0
html5lib==1.0b10
hupper==1.0
idna==2.6
jsonschema==2.6.0
Mako==1.0.7
MarkupSafe==1.0
mistune==0.7.4
oauthlib==2.0.6
parso==0.1.0
PasteDeploy==1.5.2
pexpect==4.2.1
pickleshare==0.7.4
plaster==1.0
plaster-pastedeploy==0.4.1
pluggy==0.5.2
portend==2.2
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.4.34
pycryptodome==3.4.7
Pygments==2.2.0
pypandoc==1.4
pyparsing==2.2.0
pytest==3.2.3
pytest-cov==2.5.1
python-dateutil==2.6.1
pytz==2017.2
pyzmq==16.0.2
qtconsole==4.3.1
repoze.lru==0.7
requests==2.18.4
requests-oauthlib==0.8.0
simplegeneric==0.8.1
six==1.11.0
tempora==1.9
terminado==0.6
testpath==0.3.1
text-unidecode==1.1
tornado==4.5.2
tox==2.9.1
traitlets==4.3.2
transaction==2.1.2
translationstring==1.3
urllib3==1.22
venusian==1.1.0
virtualenv==15.1.0
waitress==1.1.0
wcwidth==0.1.7
webencodings==0.5.1
WebOb==1.7.3
widgetsnbextension==3.0.6
zope.deprecation==4.3.0
zope.interface==4.4.3
